body {
  background-color: #333333;
}

.wapper {
  width: 900px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Courier New", Courier, monospace;
  color: #111;
  line-height: 24px;
}
h1 {
  font-weight: 600;
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
}
